.media--below, .media--above {
	&.media--second_image {
		display: flex;
		flex-wrap: wrap;
		.rte { width: 100%; }
	}
}
.content-text.media--second_image.media--right > figure.second_image { margin-left: 5px; }
.content-text.media--second_image.media--left > figure:not(.second_image) { margin-right: 5px; }
