:root {
	--second_image_margin: 40px;
	--text_image_margin: 60px;
}

.media--below, .media--above {
	&.media--second_image {
		display: flex;
		flex-wrap: wrap;
		.rte { width: 100%; }
	}
}

.content-text.media--second_image.media--right > figure.second_image { margin-left: var(--text_image_margin); }
.content-text.media--second_image.media--right > figure:not(.second_image) { margin-left: var(--second_image_margin); }

.content-text.media--second_image.media--left > figure.second_image { margin-right: var(--text_image_margin); }
.content-text.media--second_image.media--left > figure:not(.second_image) { margin-right: var(--second_image_margin); }

.content-text.media--second_image.media--above > figure.second_image { margin-right: 0px; }
.content-text.media--second_image.media--above > figure:not(.second_image) { margin-right: var(--second_image_margin); }

.content-text.media--second_image.media--below > figure.second_image { margin-right: 0px; }
.content-text.media--second_image.media--below > figure:not(.second_image) { margin-right: var(--second_image_margin); }

.media--second_image.BilderÜbereinander {
	figure:not(.second_image) { z-index: 2; }
	figure.second_image { z-index: 1; }
	&.media--left figure:not(.second_image) { margin-right: -30px; }
	&.media--right figure.second_image { margin-left: -30px; }
}
